body{
    background:#5475d1;
    
    font-family:'Trebuchet MS';

}
.main{
    width:1000px;
    height:500px;
    margin:0 auto;
    margin-top:100px;
    border:3px solid rgb(63, 63, 197);  // need to remove this after we are done
}
.main .left{
    width:50%;
    height:100%;
    float:left;
    text-align:center;
    background:#5475d1;
    position:relative;
    border:1px solid rgb(6, 14, 6);  // need to remove this after we are done
}
.main .left h1{
    margin-top:100px;

}

.left form input{
    text-align:center;
    width:70%;
    height:35px;
    margin-bottom:10px;
    border:none;
    background:#f8f8f8;
    border-radius:25px;
}
.left form input:focus{
    outline:none;

}
.left form input[type="submit"]{
    background:#020203;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
    
}
.left form input[type="submit"]:hover{
    background:forestgreen
}

.left p.forget:hover{
    cursor:pointer;
    text-decoration:underline;

}
.left p.or{
    font-size:15px;
    width:40px;
    height:30px;
    padding-top:10px;
    background:#f8f8f8;
    border-radius:50%;
    position:absolute;
    left:96%;
}


.main .right{
    text-align:center;

}

.main .right h1{
    margin-top:100px;
}

.right .social{
    margin-top:40px;
}

.social button{
    border:none;
    padding:15px;
    width:15px;
    font-size:18px;
    background:rgb(236, 236, 231);
    margin-right:10px;
    border-radius:50%;
}

.social .twitter{
    color:#55acee;
}
.social .twitter:hover{
    background:#55acee;
    color:#fff;
    cursor:pointer;

}
.social .google:hover{
    color:#b3abab;
    cursor:pointer;
    background:#0c5716;

}
.social .linkedin:hover{
    background:#012677;
    color:#fff;
    cursor:pointer;
}  
.social .instagram:hover{
    background:hsl(56, 98%, 24%);
    color:#fff;
    cursor:pointer; 
}    
